<div
  id="map"
  leaflet
  [leafletOptions]="options"
  (leafletMapReady)="onMapReady($event)">
  @if (layer) {
    <div [leafletLayer]="layer"></div>
  }

  <!-- Save Button Element -->
  <div *ngIf="popupDismissed" class="map-controls__item" >
    <button class="map-controls__button" (click)="saveCenter()">Save Center</button>
  </div>
</div>

<!-- Popup Message Container -->
<div *ngIf="showPopup" class="popup-message" role="alertdialog" aria-modal="true" aria-labelledby="popupMessageText" tabindex="-1">
  <img src="assets/favicon/favicon-32x32.png" class="popup-message__logo" alt="Map-of-Pi-logo">
  <p id="popupMessageText" class="popup-message__text">
    <span class="popup-message__welcome-text">Welcome to Map of Pi!</span>
    {{ typedMessage }}</p> <!-- Dynamically updates as the typeText function appends characters -->
  <button (click)="closePopup()" class="confirmation-popup__button" aria-label="Close popup">Got it!</button>
</div>


