<div
id="map"
leaflet
[leafletOptions]="options"
(leafletMapReady)="onMapReady($event)">
@if (layer) {
  <div [leafletLayer]="layer"></div>
}


<!-- Popup Message Container -->
<section *ngIf="showPopup" class="popup-message" role="alertdialog" aria-modal="true" aria-labelledby="popupMessageTitle" tabindex="0">
  <figure class="popup-message__logo">
    <figcaption class="visually-hidden">{{ 'CORE.APP_NAME' | translate }}</figcaption>
  </figure>
  <div id="popupMessageTitle">
    <h2>{{ 'MAP.WELCOME_MESSAGE' | translate }}</h2>
    <p>{{ typedMessage }}</p>
  </div>
  <button (click)="closePopup()" class="popup-message__button--confirm" aria-label="Close popup">
    {{ 'MAP.BUTTONS.GOT_IT' | translate }}
  </button>
</section>

<div *ngIf="popupDismissed" class="map-controls__item">
  <button aria-label="Save your map center location" class="map-controls__button" (click)="saveCenter()" role="button" tabindex="0">
    {{ 'MAP.BUTTONS.SAVE_CENTER' | translate }}
  </button>
</div>

<div class="search-bar__container">
  <app-search-bar (searchQuery)="handleSearch($event)"></app-search-bar>
</div>







